

*{
    padding:0;
    margin:0;
}
@media only screen and (max-width: 400px){

/* .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #819347;
    color:white;
    font-family: Inter;
    padding:10px 30px;
    position: fixed;
    width:100%;
    bottom:0;
} */

.navig{
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
    background-color: #819347;
    justify-content: space-between;
    padding:15px 5px;
    position: fixed;
    bottom:0;
    right:0;
    left:0;
    align-items: center;
}
.navig a{
    text-decoration: none;
    color:white;

}
.navig h3{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.03em;
    font-family: Montserrat;




}

.navig .n1, .n2, .n3{
    text-align: center;
    width:90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}